<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h3>Ask a Question</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/postQuestion">
                    <label for="">Tittle</label>
                    <input type="text" placeholder="Tittle" name="title" id="" class="form-control">
                    <br>
                    <label for="">Description</label>
                    <textarea name="description" id="" cols="30" rows="10" placeholder="Describe your question" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-primary">Ask</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>
