<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1>Perguntas</h1>
        <hr>
        <a class="btn btn-primary" href="/ask">Create a Question</a>
        <% questions.forEach(question => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h3><%=question.title%></h3>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="/question/<%=question.id%>">Answer</a>
                </div>
            </div>
        <%})%>
    </div>
    
</body>
<%- include('partials/footer.ejs') %>