<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1><%=question.title%></h1>
        <hr>
        <p><%=question.description%></p>
        <hr>
        <h3>Answer</h3>
        <form action="/postAnswer" method="post">
            <input type="hidden" name="questionId" value="<%=question.id%>">
            <label for="body">Answer the question bellow:</label>
            <textarea maxlength="255" class="form-control" name="body" cols="30" rows="10" placeholder="Answer the question"></textarea>
            <button type="submit" class="btn btn-primary mt-3">Answer</button>
        </form>
        <hr>
        <h3>Answers</h3>
        <hr>
        <% answers.forEach(answer => { %>
            <div class="card mt-3">
                <div class="card-body">
                    <p><%= answer.body %></p>
                </div>
            </div>
        <%})%>
    </div>
    
</body>
<%- include('partials/footer.ejs') %>